.crts_body{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: stretch; /* Asegura que los elementos hijos se estiren verticalmente */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
}

