.prose {
    width: auto;
    margin: auto;
    padding: 16px;
    font-family: 'Roboto', 'Arial', sans-serif; /* Fuente más legible y moderna */
    font-size: 1rem; /* Tamaño base para dispositivos grandes */
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
}

.prose h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.prose p {
    line-height: 1.2;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .prose {
        width: 100%;
        width: calc(100% - 32px);
        font-size: 0.9rem; /* Ajusta el tamaño de fuente para dispositivos móviles */
    }
}

@media (min-width: 1024px) {
    .prose {
        font-size: 1.1rem; /* Aumenta ligeramente el tamaño en pantallas grandes */
    }
}