---
import '../styles/cardRightTopSide.css';
import RS_header from '../components/RS_header.astro';
import Crts_body from '../components/Crts_body.astro';
---

<div class="container">
    <RS_header />
    <Crts_body />    
</div>