---
import '../styles/cardRightTopSide.css';
import RS_header from '../components/RS_header.astro';
import CRTS_body from '../components/CRTS_body.astro';
---

<div class="container">
    <RS_header />
    <CRTS_body />    
</div>