---
import CardLeftTopSide from "./CardLeftTopSide.astro"
import CardRightTopSide from "./CardRightTopSide.astro"
---

<div class="container">
    <CardLeftTopSide />
    <CardRightTopSide />
</div>

<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        height: auto;
        background-color: transparent;
        padding: 20px;
    }

    @media (max-width: 768px) {
        .container{
            flex-direction: column;
            background-color: transparent;
        }
    }

</style>