---
import '../styles/crts_body.css';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
---

<div class="crts_body">
    <Education />
    <Skills />  
</div>