---
import '../styles/rsHeader.css';
import btn_solver_cajadeherramientas from '../assets/imagenes/btn_solver_cajadeherramientas.png';
---

<div class="nav-top">
    <ul>
        <li>
            <img src={btn_solver_cajadeherramientas.src} alt="caja de herramientas" class="">
            <a>HERRAMIENTAS</a>
            <ul>
                <li><a>Send me an email</a></li>
                <li><a>ITEM 2</a></li>
                <li><a>ITEM 3</a></li>
            </ul>
        </li>
    </ul>
</div>